{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": 4
      }
    }], ["@babel/preset-typescript",  { "allowDeclareFields": true }]
  ],
  "plugins": [
    "add-module-exports"
  ]
}
